<meta http-equiv="refresh" content="3 ; URL=/">

<div class="main">
  <div class="main-message">
  <h1>Thanks for your message!!</h1>
  <div class="sub-message">
  <h4>メッセージの送信が完了しました！</h4>
  <div class="notes">
  <p>この画面は自動的に切り替わります</p>
  <p>変わらない場合は<a href="/">こちら</a>をクリック</p>
  </div>
  </div>
  </div>
</div>
