<div class="main inbox_index">
<div class="container">
<% @inbox.each do |message| %>
<div class="messages-content">
  <h3>メッセージ内容</h3>
  <%= message.message_content %>
</div>
<div class="messages-send_user">
  <h3>贈り主</h3>
  <%= message.send_user_name %>
</div>
  <% end %>
</div>
</div>
