<div class="main message-show">
  <div class="receive-user-name">
  <div class="send-user-name">
    <div class="message-content">
    <div class="stamp">
      <div class="like-edit-reply">
        

      </div>
    </div>
    </div>
  </div>
  </div>
</div>
