<div class="main message-show-1">
  <div class="message-show-1-container">
    <div class="img_show_1_container">
      <img class="img_show_1" src="/00000372.png">
      <div class="show-1-receive-user-name">
        <h3>TO：　〇〇　さん</h3>
      </div>
      <div class="show-1-message-content">
        <p>ここにメッセージ内容が入ります</p>
      </div>
      <div class="show-1-send-user-name">
        <h3>FROM：　〇〇　</h3>
      </div>
    </div>
  </div>
</div>
