<div class="main message-show-2">
  <div class="message-show-2-container">
    <div class="img_show_2_container">
      <img class="img_show_2" src="/10273_1.jpg">
      <div class="show-2-receive-user-name">
        <h3>TO：　〇〇　さん</h3>
      </div>
      <div class="show-2-message-content">
        <p>ここにメッセージ内容が入ります</p>
      </div>
      <div class="show-2-send-user-name">
        <h3>FROM：　〇〇　</h3>
      </div>
    </div>
  </div>
</div>
