<div class="about-main">
  <h2>NP Peer Bonusとは</h2>
  <p>
    日常の些細な感謝を贈り合えるサイトです。
    対面ではなかなか言えないあの人へのありがとうを伝えませんか？
  </p>
  <ul class="js-flickity">
  <li class="gallery-cell"><img src="/9735.png" width="500" /></li>
  <li class="gallery-cell"><img src="/10273_1.jpg" width="500" /></li>
  <li class="gallery-cell"><img src="/thanks-you.jpg" width="500" /></li>
  </ul>

</div>

<script>
$('#flickity').flickity({
contain: true
autoPlay: true
});
</script>
