<head>
<script type="text/javascript">
jQuery('#flickity').flickity({
contain: true
});
</script>
</head>

<div class="about-main">
  <h2>NP Peer Bonusとは</h2>
  <p>日常の些細な感謝を贈り合えるサイトです。</p>
  <p>対面ではなかなか言えないあの人へのありがとうを伝えませんか？</p>
  <ul class="js-flickity">
  <li class="gallery-cell"><img src="/thanks-you.jpg" width="900" /></li>
  <li class="gallery-cell"><img src="/thanks-you.jpg" width="900" /></li>
  <li class="gallery-cell"><img src="/thanks-you.jpg" width="900" /></li>
  </ul>
</div>
