<div class="main top-main">
  <div class="top-message">
    <h2>感謝あふれる毎日を</h2>
    <p><%= @current_user.name %>さんも、あの人にありがとうを贈りませんか？</p>
    <a href="/messages/new" class="arigatou-wo-okuru">
      <span>ありがとうを贈る</span>
    </a>
  </div>
</div>
